<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <script src='https://kit.fontawesome.com/a076d05399.js'></script>
  <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <a class="navbar-brand" href="/">LOGO</a>
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0" >
        <ul>
          <li class="nav justify-content-center">
            <a  class="nav-link " href="/covid_19"> Update covid 19 </a>
          </li>
        </ul>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <div class="btn-group">
          <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" data-display="static" aria-haspopup="true" aria-expanded="false">
            <i class='fas fa-user-alt' style='font-size:15px'></i>
          </button>
          <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-right">
            <button class="dropdown-item" type="button"><a href="/login">Login</a></button>
            <button class="dropdown-item" type="button"><a href="/register">Register</a></button>
            <button class="dropdown-item" type="button"><a href="/help">Help</a></button>
          </div>
        </div>
      </form>
    </div>
  </nav>







    <div class="search">
      <div class="searchCenter">
        <form class="form-inline my-2 my-lg-0" >
          <input class="form-control mr-sm-2" type="search" placeholder="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
      
    </div>
 

    
    <div class="container">
      <div class="row">
        <div class="col">
          <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
              <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner" role="listbox" style=" width:100%; height: 800px !important;" >
              <div class="carousel-item active">
                <img src="https://dummyimage.com/600x400/000/fff" class="d-block w-100"  alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <h5>First slide label</h5>
                  <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                </div>
              </div>
              <div class="carousel-item">
                <img src="https://www.xmple.com/wallpaper/blue-linear-black-gradient-highlight-640x480-c2-1e90ff-000000-l-33-a-60-f-21.svg" class="d-block w-100"  alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <h5>Second slide label</h5>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
              </div>
              <div class="carousel-item">
                <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAQMAAADCCAMAAAB6zFdcAAAAVFBMVEXMzMzPz88AAADS0tK4uLjHx8erq
                6uzs7OhoaHDw8OXl5eMjIx2dnampqZjY2NeXl5sbGx/f38aGhpRUVGFhYVCQkIpKSlZWVlKSkoNDQ06OjozMzMcNGAWAAAEe0lEQVR4nO3Y6ZabOBAFYKo
                KDMIsNhi88P7vOSUWSWAnceekG58z9/uR6cEYo4uWQlEEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA8D9Coog2B59O+PJlf3
                uJv7vmN6EoK+q6yM3qDk2euL8ltSeU0dfumOLcfUFMfqqrIovEHYkvVV1kyUekINmdH/V1YE6D+6GO4/l/yXTcXOuB+/QrN0wJ89JiKpi7quqY8+kQRTVzW3d
                8z+TXl/gpcuaTGbtlaYKjetNzBmSa5mBPiDv+SgjSuQzkxvnY9ZOCL9OxTtNQ5sr7h0DlcldhT6eUL0sGUrOR6fO+f/9+5cLnOQPKXEM1WzN9eJiuSVc2v7rET6
                H++twuMlzEcwYU83EJKeX83Y6g52b5nIFUjfuNhDN7CT65I1zs3BG0G8TPzZK2l3T+QMeKmxzlcQvuN5z2t4tKFDWVHJcMat9/xMaoHcONKql45wyk6sS2YNUGvf
                nYZzC0vgFBHlF0Lf0H+WndEKmbyGVAR/c17R7a+rBjaB4vnsJPknthZ7ss11VruZOx95PLIOir4fOL6DSPaRvBpkPrgZRoySAyy8dEj47sdOlz1V97e4B9D8MlXZj7
                nvnm6gM7RSwZrG5RDx78/coSgrb4vIpA5xOdQ3wGknGdiK4Mcd/YgiBpgsj03F0zsF1TVymji3nWzM9Ym5ZEPoNVs83qmc0hPPUCnTfGEXb09UH64Do/3rgYa6IkbPYq
                kB3olNh301xANLD9r0z9/XUGybrfagilPPUCuwDa8R9mIBq1quLxx9aPvj/tnQEv1ar2eq0UtLobH8tbGYw9IdtGYJfF8asuA9LyqkgTk125sz/3aRn4jii3QXS66qbi5Y
                2xEE315GXThDlFn4FeoxqnXNIJ4W4+byxk/r2muCe6nk1T4xtz4vidnLncjIRrP40utzZGg6vDtJvV8nFzYpDBmY1WgomxkgNr5zVPa+N6LdcILsU6BH366XyJC0f6r4tz+R
                Hb2W7h2pjtmkFkXCE89gP7frdiflMjzYviODEGxx7rKwyiqfhGjoXppkYy+2YgfdDCdpD4sMg51383tXKQR+TqgnUIlC5XSAvWv8dayX+Hcs11XSvf966VL+4paGGjLaKZrZXH
                raXwnalclwfLorgJwV1C5wNbhOtYKP1YONlJInHvTGR2f2fSwdBORTLJNezofhDrS8387kyrd2fydYE27MWY9uvCo18WYI3WNlmjT6drSrv/u7OWRLd43CFpg6cVZqCz+L20Z2itt
                9pDGXxdIKfHizdwl0HM/XgF0Wmymw7dPmgPJZKy4aFt+81OWZABJTduxjM2L3j08k9/7OJqJNPq+0hdD+w7fsX3Wzt8xl6advFDUVXnw2aPN8n8yJD0XNXF9ow/ioN1N85PVVVkSbCne
                rR7ql/cp/02r3e5/8E++GqT5WlvnT5obx0AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAODH/AdYhCTjZJO+jAAAAABJRU5ErkJggg==" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <h5>Third slide label</h5>
                  <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                </div>
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        
        </div>
        <div class="w-100"></div>
        <div class="col">col3col3col3col3col3col3col3col3col3col3
          col3col3col3col3col3col3col3col3col3col3
          col3col3col3col3col3col3col3col3col3col3
          col3col3col3col3col3col3col3col3col3col3
          col3col3col3col3col3col3col3col3col3col3
          
        </div>

      </div>
    </div>




  

















  



















  <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</body>


</html>