<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <script src='https://kit.fontawesome.com/a076d05399.js'></script>
  <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
      aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <a class="navbar-brand" href="/">LOGO</a>
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <ul>
          <li class="nav justify-content-center">
            <a class="nav-link " href="/covid_19"> Update covid 19 </a>
          </li>
        </ul>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <div class="btn-group">
          <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" data-display="static"
            aria-haspopup="true" aria-expanded="false">
            <i class='fas fa-user-alt' style='font-size:15px'></i>
          </button>
          <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-right">
            <button class="dropdown-item" type="button"><a href="/login">Login</a></button>
            <button class="dropdown-item" type="button"><a href="/register">Register</a></button>
            <button class="dropdown-item" type="button"><a href="/help">Help</a></button>
          </div>
        </div>
      </form>
    </div>
  </nav>

  <div class="search">
    <div class="searchCenter">
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>

  </div>

















  <div class="container mt-4">
    <div class="card-deck">
      <div class="card">
        <div class="containerimg">
          <img class="card-img-top" alt="..." id="thumbnail_url">
          <button class="btn">Save</button>
        </div>
        <div class="card-body">
          <h5 class="card-title" id="place_name"></h5>
          <p class="card-text" id="introduction"></p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
      <div class="card">
        <div class="containerimg">
          <img class="card-img-top" alt="..." id="thumbnail_url2">
          <button class="btn">Save</button>
        </div>
        <div class="card-body">
          <h5 class="card-title" id="place_name2"></h5>
          <p class="card-text" id="introduction2"></p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
      <div class="card">
        <div class="containerimg">
          <img class="card-img-top" alt="..." id="thumbnail_url3">
          <button class="btn">Save</button>
        </div>
        <div class="card-body">
          <h5 class="card-title" id="place_name3"></h5>
          <p class="card-text" id="introduction3"></p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
  </div>

<!-- line2 -->




<div class="container mt-4">
  <div class="card-deck">
    <div class="card">
      <div class="containerimg">
        <img class="card-img-top" alt="..." id="thumbnail_url4">
        <button class="btn">Save</button>
      </div>
      <div class="card-body">
        <h5 class="card-title" id="place_name4"></h5>
        <p class="card-text" id="introduction4"></p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card">
      <div class="containerimg">
        <img class="card-img-top" alt="..." id="thumbnail_url5">
        <button class="btn">Save</button>
      </div>
      <div class="card-body">
        <h5 class="card-title" id="place_name5"></h5>
        <p class="card-text" id="introduction5"></p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card">
      <div class="containerimg">
        <img class="card-img-top" alt="..." id="thumbnail_url6">
        <button class="btn">Save</button>
      </div>
      <div class="card-body">
        <h5 class="card-title" id="place_name6"></h5>
        <p class="card-text" id="introduction6"></p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>







  <script>
    function place1() {
      $.ajax({
        url: "https://tatapi.tourismthailand.org/tatapi/v5/attraction/P03000056",
        headers: {
          "Authorization": "Bearer GqQmVELC0cHh9qrGNUDrl9KkZKQCWd9s6Yg1u9oUVbTqXKdXHWkl)9bjDd3gDQcFvTHPbQfsZlv3b)pqv)taLpW=====2"
        }
      }).done(function (data) {
        $("#place_name").append(place_name(data));
        $("#introduction").append(introduction(data));
        $("#thumbnail_url").attr('src', thumbnail_url(data));

      });
    }
    function place2() {
      $.ajax({
        url: "https://tatapi.tourismthailand.org/tatapi/v5/attraction/P03000001",
        headers: {
          "Authorization": "Bearer GqQmVELC0cHh9qrGNUDrl9KkZKQCWd9s6Yg1u9oUVbTqXKdXHWkl)9bjDd3gDQcFvTHPbQfsZlv3b)pqv)taLpW=====2"
        }
      }).done(function (data) {
        $("#place_name2").append(place_name(data));
        $("#introduction2").append(introduction(data));
        $("#thumbnail_url2").attr('src', thumbnail_url(data));

      });
    }
    function place3() {
      $.ajax({
        url: "https://tatapi.tourismthailand.org/tatapi/v5/attraction/P03000041",
        headers: {
          "Authorization": "Bearer GqQmVELC0cHh9qrGNUDrl9KkZKQCWd9s6Yg1u9oUVbTqXKdXHWkl)9bjDd3gDQcFvTHPbQfsZlv3b)pqv)taLpW=====2"
        }
      }).done(function (data) {
        $("#place_name3").append(place_name(data));
        $("#introduction3").append(introduction(data));
        $("#thumbnail_url3").attr('src', thumbnail_url(data));

      });
    }

    // line2


    function place4() {
      $.ajax({
        url: "https://tatapi.tourismthailand.org/tatapi/v5/attraction/P03000056",
        headers: {
          "Authorization": "Bearer GqQmVELC0cHh9qrGNUDrl9KkZKQCWd9s6Yg1u9oUVbTqXKdXHWkl)9bjDd3gDQcFvTHPbQfsZlv3b)pqv)taLpW=====2"
        }
      }).done(function (data) {
        $("#place_name4").append(place_name(data));
        $("#introduction4").append(introduction(data));
        $("#thumbnail_url4").attr('src', thumbnail_url(data));

      });
    }
    function place5() {
      $.ajax({
        url: "https://tatapi.tourismthailand.org/tatapi/v5/attraction/P03000001",
        headers: {
          "Authorization": "Bearer GqQmVELC0cHh9qrGNUDrl9KkZKQCWd9s6Yg1u9oUVbTqXKdXHWkl)9bjDd3gDQcFvTHPbQfsZlv3b)pqv)taLpW=====2"
        }
      }).done(function (data) {
        $("#place_name5").append(place_name(data));
        $("#introduction5").append(introduction(data));
        $("#thumbnail_url5").attr('src', thumbnail_url(data));

      });
    }
    function place6() {
      $.ajax({
        url: "https://tatapi.tourismthailand.org/tatapi/v5/attraction/P03000041",
        headers: {
          "Authorization": "Bearer GqQmVELC0cHh9qrGNUDrl9KkZKQCWd9s6Yg1u9oUVbTqXKdXHWkl)9bjDd3gDQcFvTHPbQfsZlv3b)pqv)taLpW=====2"
        }
      }).done(function (data) {
        $("#place_name6").append(place_name(data));
        $("#introduction6").append(introduction(data));
        $("#thumbnail_url6").attr('src', thumbnail_url(data));

      });
    }






    $.when(place1(), place2(),place3(),place4(), place5(),place6()).done(function 
    (place1_data, place2_data,place3_data,place4_data, place5_data,place6_data) {
    });





    function place_name(data) {
      return data.result.place_name
    }

    function introduction(data) {
      return data.result.place_information.introduction
    }

    function thumbnail_url(data) {
      return data.result.thumbnail_url
    }
  </script>






































  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
    integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous">
    </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
    integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous">
    </script>
</body>


</html>