<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Bootstrap CSS -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <script src='https://kit.fontawesome.com/a076d05399.js'></script>
  <script
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC1p8pqMC6cdgz845HJkZy-e_8Yc9oY3LA&callback=initMap&libraries=&v=weekly"
  defer
></script>
	<script src="/stylesheets/home_content.js"></script>
	<link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
</head>

<body>
	<!-- Nav bar -->
	<div class="nav-placeholder"></div>
	<div class="input-group mb-3 container mt-4">
		<div class="form-group">
			<select class="form-control" id="exampleFormControlSelect1">
				<option>ทั้งหมด</option>
				<option>กลาง</option>
				<option>เหนือ</option>
				<option>อีสาน</option>
				<option>ใต้</option>
			</select>
		</div>
		<input type="text" class="form-control" aria-label="Text input with dropdown button">
	</div>
	<div class="container mt-4">
		<div class="card-deck">
			<div class="card">
				<div class="containerimg">
					<img class="card-img-top img-thumbnail" alt="..." id="thumbnail_url">
					<svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-bookmark-plus btnsave" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
						<path fill-rule="evenodd" d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z" />
						<path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5V6H10a.5.5 0 0 1 0 1H8.5v1.5a.5.5 0 0 1-1 0V7H6a.5.5 0 0 1 0-1h1.5V4.5A.5.5 0 0 1 8 4z" />
					</svg>
				</div>
				<a class="card-block text-decoration-none text-dark" href="/content">
					<div class="card-body">
						<h5 align="center" class="card-title place_name"> </h5>
						<p class="card-text intro_text " id="introduction"></p>
				</a>
				<p>
					<a class="card-block text-decoration-none text-dark" href="#"> <small id="district"></small>
					</a>|
					<a class="card-block text-decoration-none text-dark" href="#"> <small id="destination"></small> 
					</a>|
					<a class="card-block text-decoration-none text-dark" href="#"> <small id="attraction_types"></small>
					</a>
				</p>
				</div>
				</a>
      </div>
      <!-- ----------------------------- -->
			<div class="card">
				<div class="containerimg">
					<img class="card-img-top img-thumbnail" alt="..." id="thumbnail_url2">
					<svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-bookmark-plus btnsave" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
						<path fill-rule="evenodd" d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z" />
						<path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5V6H10a.5.5 0 0 1 0 1H8.5v1.5a.5.5 0 0 1-1 0V7H6a.5.5 0 0 1 0-1h1.5V4.5A.5.5 0 0 1 8 4z" />
					</svg>
				</div>
				<a class="card-block text-decoration-none text-dark" href="/content">
					<div class="card-body">
						<h5 align="center" class="card-title place_name2"> </h5>
						<p class="card-text intro_text " id="introduction2"></p>
				</a>
				<p>
					<a class="card-block text-decoration-none text-dark" href="#"> <small id="district2"></small>
					</a>|
					<a class="card-block text-decoration-none text-dark" href="#"> <small id="destination2"></small> 
					</a>|
					<a class="card-block text-decoration-none text-dark" href="#"> <small id="attraction_types2"></small>
					</a>
				</p>
				</div>
      </div>
      <!-- ------------------------------ -->
			<div class="card">
				<div class="containerimg">
					<img class="card-img-top img-thumbnail" alt="..." id="thumbnail_url3">
					<svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-bookmark-plus btnsave" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
						<path fill-rule="evenodd" d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z" />
						<path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5V6H10a.5.5 0 0 1 0 1H8.5v1.5a.5.5 0 0 1-1 0V7H6a.5.5 0 0 1 0-1h1.5V4.5A.5.5 0 0 1 8 4z" />
					</svg>
				</div>
				<a class="card-block text-decoration-none text-dark" href="/content">
					<div class="card-body">
						<h5 align="center" class="card-title place_name3"> </h5>
						<p class="card-text intro_text " id="introduction3"></p>
				</a>
				<p>
					<a class="card-block text-decoration-none text-dark" href="#"> <small id="district3"></small>
					</a>|
					<a class="card-block text-decoration-none text-dark" href="#"> <small id="destination3"></small> 
					</a>|
					<a class="card-block text-decoration-none text-dark" href="#"> <small id="attraction_types3"></small>
					</a>
				</p>
				</div>
			</div>
		</div>
	</div>
  <!-- line2 -->
  
	<div class="container mt-4">
		<div class="card-deck">
			<div class="card">
				<div class="containerimg">
					<img class="card-img-top img-thumbnail" alt="..." id="thumbnail_url4">
					<svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-bookmark-plus btnsave" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
						<path fill-rule="evenodd" d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z" />
						<path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5V6H10a.5.5 0 0 1 0 1H8.5v1.5a.5.5 0 0 1-1 0V7H6a.5.5 0 0 1 0-1h1.5V4.5A.5.5 0 0 1 8 4z" />
					</svg>
				</div>
				<a class="card-block text-decoration-none text-dark" href="/content">
					<div class="card-body">
						<h5 align="center" class="card-title place_name4"> </h5>
						<p class="card-text intro_text " id="introduction4"></p>
				</a>
				<p>
					<a class="card-block text-decoration-none text-dark" href="#"> <small id="district4"></small>
					</a>|
					<a class="card-block text-decoration-none text-dark" href="#"> <small id="destination4"></small> 
					</a>|
					<a class="card-block text-decoration-none text-dark" href="#"> <small id="attraction_types4"></small>
					</a>
				</p>
				</div>
				</a>
      </div>
      <!-- ----------------------------- -->
			<div class="card">
				<div class="containerimg">
					<img class="card-img-top img-thumbnail" alt="..." id="thumbnail_url5">
					<svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-bookmark-plus btnsave" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
						<path fill-rule="evenodd" d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z" />
						<path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5V6H10a.5.5 0 0 1 0 1H8.5v1.5a.5.5 0 0 1-1 0V7H6a.5.5 0 0 1 0-1h1.5V4.5A.5.5 0 0 1 8 4z" />
					</svg>
				</div>
				<a class="card-block text-decoration-none text-dark" href="/content">
					<div class="card-body">
						<h5 align="center" class="card-title place_name5"> </h5>
						<p class="card-text intro_text " id="introduction5"></p>
				</a>
				<p>
					<a class="card-block text-decoration-none text-dark" href="#"> <small id="district5"></small>
					</a>|
					<a class="card-block text-decoration-none text-dark" href="#"> <small id="destination5"></small> 
					</a>|
					<a class="card-block text-decoration-none text-dark" href="#"> <small id="attraction_types5"></small>
					</a>
				</p>
				</div>
      </div>
      <!-- ------------------------------ -->
			<div class="card">
				<div class="containerimg">
					<img class="card-img-top img-thumbnail" alt="..." id="thumbnail_url6">
					<svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-bookmark-plus btnsave" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
						<path fill-rule="evenodd" d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z" />
						<path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5V6H10a.5.5 0 0 1 0 1H8.5v1.5a.5.5 0 0 1-1 0V7H6a.5.5 0 0 1 0-1h1.5V4.5A.5.5 0 0 1 8 4z" />
					</svg>
				</div>
				<a class="card-block text-decoration-none text-dark" href="/content">
					<div class="card-body">
						<h5 align="center" class="card-title place_name6"> </h5>
						<p class="card-text intro_text " id="introduction6"></p>
				</a>
				<p>
					<a class="card-block text-decoration-none text-dark" href="#"> <small id="district6"></small>
					</a>|
					<a class="card-block text-decoration-none text-dark" href="#"> <small id="destination6"></small> 
					</a>|
					<a class="card-block text-decoration-none text-dark" href="#"> <small id="attraction_types6"></small>
					</a>
				</p>
				</div>
			</div>
		</div>
	</div>



  <div id="floating-panel">
    <input id="latlng" type="text" value="40.714224,-73.961452" />
    <input id="submit" type="button" value="Reverse Geocode" />
  </div>
  <div id="map"></div>

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
	</script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous">
	</script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous">
	</script>
</body>

</html>