body {

  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

nav {
  background-color:rgb(102, 68, 223);
  padding: 10px 60px;
  display: flex;
  justify-content: space-between;
  text-decoration: none;
}

nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav li{
  list-style: none;
}

nav li a{
  color:rgb(30, 255, 0);
  text-decoration: none;
  font-weight: bold;
  padding: 5px 8px;
  font-size: large;
}

nav li a:hover{
  color:yellow;
  text-decoration: none;
  
}


.frame {
  width: 560px;
  height: 400px;
  display: block;
  border-style:none;
  -ms-transform: scale(0.79);
  -moz-transform: scale(0.79);
  -o-transform: scale(0.79);
  -webkit-transform: scale(0.79);
  transform: scale(0.79);
  -ms-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}
.frame2 {
  width: 510px;
  height: 400px;
  display: block;
  border-style:none;
  -ms-transform: scale(0.5);
  -moz-transform: scale(0.5);
  -o-transform: scale(0.5);
  -webkit-transform: scale(0.5);
  transform: scale(1);
  -ms-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}

.h2p{
  display: block;
  float: right;
  border: solid;
  margin-top: 1%;
}
